.text01C {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4.9rem;
    font-weight: normal;
    font-style: italic;
    margin-top: -51.38px;
    margin-left: 67px;
  }
  
  @media (min-width: 768px) {
    .custom-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 3rem;
    }
  }

  .text02C {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 9.5rem;
    font-weight: bold;
    font-style: italic;
    margin-top: -11px;
  }
  
  @media (min-width: 768px) {
    .custom-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 3rem;
    }
  }

  .text03C {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 8.5rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 102.1px;
    margin-left: 80px;
  }
  
  @media (min-width: 768px) {
    .custom-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 3rem;
    }
  }

  .text04C {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: regular;
    font-style: italic;
    margin-top: 244.6px;
    margin-right: 90px;
    text-align: right;
    line-height: 1.0;
  }
  
  @media (min-width: 768px) {
    .custom-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .custom-text {
      font-size: 3rem;
    }
  }

  .button01C {
    position: absolute;
    top: 650px;
    right: -29px;
    transform: translateX(-50%);
    background: linear-gradient(to right,rgba(149, 115, 169, 0.4) , rgba(235, 204, 255, 0.4));
    backdrop-filter: blur(60px); 
    color: white;
    font-size: 2rem;
    padding: 0.6rem 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 188px;
    border: 0px solid transparent; 
    box-shadow: 0 0 0 3px rgb(201, 140, 237), 
                0 0 0 3px rgb(201, 140, 237), 
                0 0 0 3px rgb(201, 140, 237);
    text-align: left;
    padding-left: 26px;
    opacity: 0.8;
  }
  
  .glassButton:hover {
    background-color: rgba(255, 255, 255, 0.3); 
  }

  .arrow01C {
    position: absolute;
    top: 651px;
    left: 1161px;
    transform: translateX(-50%);
    width: 50px;
    height: auto; 
  }

  .button02C {
    position: absolute;
    top: 24px;
    right: -62px;
    transform: translateX(-50%);
    background: linear-gradient(to right,rgba(149, 115, 169, 0.4) , rgba(235, 204, 255, 0.4));
    backdrop-filter: blur(80px); 
    color: white;
    font-size: 1.5rem;
    padding: 0.2rem 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 188px;
    border: 0px solid transparent; 
    box-shadow: 0 0 0 2px rgb(201, 140, 237), 
                0 0 0 2px rgb(201, 140, 237), 
                0 0 0 2px rgb(201, 140, 237);
    text-align: center;
    opacity: 0.8;
  }
  
  .glassButton:hover {
    background-color: rgba(255, 255, 255, 0.3); 
  }

  .button03C {
    position: absolute;
    top: 24px;
    right: 128px;
    transform: translateX(-50%);
    background: linear-gradient(to right,rgba(149, 115, 169, 0.4) , rgba(235, 204, 255, 0.4));
    backdrop-filter: blur(80px); 
    color: white;
    font-size: 1.5rem;
    padding: 0.2rem 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 188px;
    border: 0px solid transparent; 
    box-shadow: 0 0 0 2px rgb(201, 140, 237), 
                0 0 0 2px rgb(201, 140, 237), 
                0 0 0 2px rgb(201, 140, 237);
    text-align: center;
    opacity: 0.8;
  }
  
  .glassButton:hover {
    background-color: rgba(255, 255, 255, 0.3); 
  }

  .button04C {
    position: absolute;
    top: 24px;
    right: 317px;
    transform: translateX(-50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(193, 193, 193, 0.4));
    backdrop-filter: blur(80px);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.2rem 16rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 188px;
    border: none;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 
                0 0 0 2px rgb(255, 255, 255), 
                0 0 0 2px rgb(255, 255, 255);
    text-align: left; 
  

    padding-left: 12px;
  }
  
  .button04C:hover {
    background: linear-gradient(to right, rgba(193, 193, 193, 0.8), rgba(255, 255, 255, 0.8));
  }
  
  .glassButton:hover {
    background-color: rgba(255, 255, 255, 0.3); 
  }


  .search01C{
    position: absolute;
    top: 28px;
    left: 800px;
    transform: translateX(-50%);
    width: 24px;
    height: auto; 
  }

  .logo01C {
    position: absolute;
    top: 473px;
    left: 1073px;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
    z-index: 10;
  }

  .logo02C {
    position: absolute;
    top: 10px;
    left: 200px;
    transform: translateX(-50%);
    width: 85px;
    height: auto;
    z-index: 10;
  }
  
  .navbarback01C {
    position: absolute;
    top: 0px;
    left: 120px;
    transform: translateX(-50%);
    width: 85px;
    height: auto;
    z-index: 10;
  }

.icon{
  fill:purple; 
}
 a .active{
    color: blue;
  }